.App {
  text-align: center;
}

/* Header Component */

.App-header {
  background-color: #282c34;
  display: flex;
}

.header {
  background-color:#AB2A19;
}

.navItem {
  display: flex;
}

.navLink {
  font-size: 2rem;
  font-weight: 700;
}


/* App Component */

.App-container {
  display: flex;
  width: 90vw;
}

/* Dashboard Component */

.dashboard-container {
  display: flex;
}

/* DisplayProducts Component */

.display-container {
  display: flex;
  align-items: center;
  width: 90%;
  background: #D34735;
}

.product-display-item {
  color:blue
}

.aboutProduct {
  color: green;
}