.App {
  text-align: center;
}

/* Header Component */

.App-header {
  background-color: #282c34;
  display: flex;
}

.header {
  background-color:#AB2A19;
}

.navItem {
  display: flex;
}

.navLink {
  font-size: 2rem;
  font-weight: 700;
}


/* App Component */

.App-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
}

/* Dashboard Component */

.dashboard-container {
  display: flex;
}

/* DisplayProducts Component */

.display-container {
  width: 40vw;
  background: #D34735;
  
}

.product-display-item {
  display: flex;
  margin: 2rem auto;
  width: 80%;
  margin-bottom: 1rem;
}

.product-display-item img {
  width: 18vw;
  height: 20vh;
}

.aboutProduct {
  display: flex;
  margin: 0 auto;
}

.display-buttons {
  display: flex;
  align-self: flex-end;
}

.display-buttons:first-child {
  
}

/* Form Component */
.form-container {
  display: flex column;
}

.formImg {
  height: 450px;
  width: 300px;
}